.container-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  margin-top: 8%;
  padding-left: 3.8%;
  padding-bottom: 10%;
  background-color: #ffffff;
}

.container-info {
  text-align: left;
  padding: 3%;
}

.container-info p {
  font-size: x-large;
  text-align: justify;
  padding-top: 2%;
}

.about-img {
  justify-self: end;
  align-self: center;
  max-width: 85%;
  max-height: 100%;
}
