.container-recommen {
  display: block;
  padding: 4%;
}

.container-recommen h1 {
  text-align: left;
  padding-left: 5.5%;
  align-content: center;
  background-color: #f7f7f7;
  height: 150px;
  border-radius: 10px;
}

.cards-recommen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3%;
}

.recommen {
  background-color: #ffffff;
  height: auto;
  padding: 15px;
  text-align: center;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(169, 169, 169, 0.3);
}

.recommen-text {
  font-size: medium;
  text-align: left;
}

.recommen-client {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: x-large;
  text-align: left;
}

@media (max-width: 768px) {
  .cards-recommen {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-recommen {
    grid-template-columns: 1fr;
  }
}
